<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::#section},~{::title},~{::script})">
<head>
    <meta charset="UTF-8" />
    <title>About page</title>
</head>
<body>
<div id="section">
    <section class="text-center py-8">
        <h1 class="text-3xl font-bold mt-4">About Us</h1>
        <p class="mt-2 text-gray-600 dark:text-gray-400">Smart Contact Manager is a revolutionary tool designed to streamline your contact management process. Our mission is to provide a seamless and efficient way for individuals and businesses to manage their contacts on the cloud.</p>
        <div class="mt-4">
            <img src="https://via.placeholder.com/600x300" alt="Team Image" class="mx-auto rounded-lg shadow-lg">
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold">Our Team</h2>
            <p class="mt-2 text-gray-600 dark:text-gray-400">We are a group of dedicated professionals passionate about technology and innovation. Our team works tirelessly to bring you the best contact management solutions.</p>
        </div>
    </section>
    
</div>
<script>
    console.log('this is about page');    
</script>
</body>
</html>