<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section},~{::title},~{::script})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
<section>
	
        <div class="flex items-center justify-center md:pt-10 flex-col">
		
<section class="text-center py-8">
	<img src="https://res.cloudinary.com/ds0ffnsli/image/upload/v1722415213/smc_image_vhil8i.webp" alt="Contact Image" class="mx-auto rounded-lg shadow-lg hover:grayscale">
	<h1 class="text-3xl font-bold mt-4">Start Managing your contacts on cloud</h1>
	<p class="mt-2 text-gray-600 dark:text-gray-400">Start Collecting your contect in smart way. We provide very efficent and smart way of handling contacts.</p>
	<div class="mt-4">
		<!--<button class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Start</button>
		<button class="ml-2 px-4 py-2 border rounded hover:bg-gray-200 dark:hover:bg-gray-700">Login</button>-->
		<a
        data-th-href="@{'/login'}"
        type="button"
        class="text-white bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Let's Start
      </a>
	</div>
</section>

<section class="py-8">
	<h2 class="text-2xl font-bold text-center mb-4">Features of SCM</h2>
	<div class="inline-flex items-center justify-center w-full mb-4">
		<hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
		<div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-900">
			<svg class="w-4 h-4 text-gray-700 dark:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
		<path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
	  </svg>
		</div>
	</div>
	<div class="flex justify-around gap-10">
		<div class="text-center">
			<div class="w-14 h-14 mx-auto bg-gray-200 dark:bg-gray-700 rounded-full mb-2"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"><path fill="currentColor" d="M6.5 20q-2.275 0-3.887-1.575T1 14.575q0-1.95 1.175-3.475T5.25 9.15q.625-2.3 2.5-3.725T12 4q2.925 0 4.963 2.038T19 11q1.725.2 2.863 1.488T23 15.5q0 1.875-1.312 3.188T18.5 20zm0-2h12q1.05 0 1.775-.725T21 15.5t-.725-1.775T18.5 13H17v-2q0-2.075-1.463-3.538T12 6T8.463 7.463T7 11h-.5q-1.45 0-2.475 1.025T3 14.5t1.025 2.475T6.5 18m5.5-6"/></svg></div>
			<h3 class="text-xl font-semibold">Store Contact on Cloud</h3>
			<p class="mt-2 text-gray-600 dark:text-gray-400">Blue bottle crucifix vinyl post-ironic...</p>
		</div>
		<div class="text-center">
			<div class="w-12 h-12 mx-auto bg-gray-200 dark:bg-gray-700 rounded-full mb-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M20 18h-2V9.25L12 13L6 9.25V18H4V6h1.2l6.8 4.25L18.8 6H20m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2"/></svg></div>
			<h3 class="text-xl font-semibold">Send Direct Email from Here</h3>
			<p class="mt-2 text-gray-600 dark:text-gray-400">Blue bottle crucifix vinyl post-ironic...</p>
		</div>
		<div class="text-center">
			<div class="w-12 h-12 mx-auto bg-gray-200 dark:bg-gray-700 rounded-full mb-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="currentColor" d="M6 13.61h7.61V6H24v8.38h2V6a2 2 0 0 0-2-2H10.87L4 10.87V30a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2H6Zm0-1.92L11.69 6H12v6H6Z" class="clr-i-outline clr-i-outline-path-1"/><path fill="currentColor" d="M28.32 16.35a1 1 0 0 0-1.41 1.41L30.16 21H18a1 1 0 0 0 0 2h12.19l-3.28 3.28a1 1 0 1 0 1.41 1.41L34 22Z" class="clr-i-outline clr-i-outline-path-2"/><path fill="none" d="M0 0h36v36H0z"/></svg></div>
			<h3 class="text-xl font-semibold">Easy Export</h3>
			<p class="mt-2 text-gray-600 dark:text-gray-400">Blue bottle crucifix vinyl post-ironic...</p>
		</div>
	</div>
</section>

		</div>
	
</section>	
<script>
		console.log('this is home page');
</script>
	</body>
</html>
	